body{
  background-color: #dddddd;
  color: #777777;
}
img {
  width: 100%;
  height: auto;
}
.user-icon {
  width: 10%;
  border-radius: 50%;
}
.row {
  display: flex;
  align-items: stretch;
}

.column {
  flex: 50%;
  align-items: stretch;
}
.like-icon{
  width: 3%;
}
.user{
  text-align: right;
}